<div class="row fullscreen">
	<div class="small-12 columns fullscreen">
		<div id="map-canvas"/>
	</div>
</div>

<% content_for :page_js do %>
	<%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=" + ENV["GOOGLE_MAPS_API_KEY"]%>
	<script type="text/javascript">
		(function(win){
			$(document).ready(function() {
				var map = null, markers = [];

				var Locations = Backbone.Collection.extend({
					// gets location objets from server filtering by latitude and longitude
					url: "/locations?lat=37.73461&lon=-122.39255"
				});

			    var LocationsMapView = Backbone.View.extend({
			    	el: 'body',
			    	render: function () {
				        (new Locations).fetch({
				        	success: function (locations) {
				        		//adds markers to map
				        		var bounds = new google.maps.LatLngBounds();
				        		_.each(locations.models, function(location) {
				        			var marker = new google.maps.Marker({
								    	position: new google.maps.LatLng(location.get('lat') * 180 / Math.PI, location.get('lon') * 180 / Math.PI),
								    	map: map
								    });
								    bounds.extend(marker.getPosition());
								    markers.push(marker);
				        		});
				        		map.fitBounds(bounds); //re-center map to include all markers
				        	}
				    	});
				    }
			    });

				var Router = Backbone.Router.extend({
			        routes: { "": "home" }
			    });

			    (new Router).on('route:home', function() {
			    	//render home page by showing map and adding markers
					var mapOptions = { center: new google.maps.LatLng(37.73461, -122.39255), zoom: 15, zoomControl: true };
		        	map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		        	(new LocationsMapView).render();
			    });

			    Backbone.history.start();
			});
		})(window);
	</script>
<% end %>