<div id="map_container" class="row fullscreen drawer_open">
	<div class="small-12 columns fullscreen">
		<a id="toggle_drawer" href="" class="button">Drawer</a>
		<div id="map-canvas"></div>
	</div>
</div>
<div id="drawer" class="row">
	<div class="small-6 columns">
		<input id="food" type="text" name="food" placeholder="pizza"/>
		<a href="" class="button tiny">Clear</a>
	</div>
	<div class="small-6 columns">
		<input id="address" type="text" name="address" placeholder="123 Sesame Street, NY"/>
		<a href="" class="button tiny">Current Location</a>
	</div>
</div>

<% content_for :page_js do %>
<%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=" + ENV["GOOGLE_MAPS_API_KEY"] + "&libraries=places" %>
<script type="text/template" id="location_marker_info">
<@ _.each(information, function(info) { @>
	<h3><@- info.get('name') @></h3>
	<p><@- info.get('food_description') @></p>
	<hr/>
	<@ }); @> 
</script>
<% end %>